.sectionTitle {
  width: max-content;
  margin-bottom: 20px;
  padding: 5px 10px;
  background-color: var(--tertiaryColor);

  span {
    font-family: 'Goldman', cursive;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--primaryColor);
  }
}
