.header {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;

  .headerTitle {
    font-family: var(--tertiaryFont);
    font-size: 28px;
    color: var(--secondaryColor);
    text-shadow: var(--textShadow);
    -webkit-text-stroke: 0.1px var(--tertiaryColor);
  }

  .headerMenuIcon {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &:hover {
      cursor: pointer;
    }

    .headerMenuIconItem {
      width: 28px;
      height: 4px;
      border-radius: 1px;
      background-color: var(--secondaryColor);
      box-shadow: var(--boxShadow);
    }
  }
}
